<h1>Movies</h1>
<div class="col-md-8">
  <h2>Today's movies</h2>
    <% @movies.each do |movie| %>
      <ul>
      <%= image_tag movie.image, style: "width: 250px; display: block" %>
        <h2><%=link_to "#{movie.name}", movie_path(movie) %></h2>

        <li class="matinee"><%= "Matinee: #{movie.matinee}" %></li>
        <li class="tanda"><%= "Tanda: #{movie.tanda}" %></li>
        <li class="night"><%= "Night: #{movie.night}" %></li>
      </ul>
    <% end %>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= link_to 'Create movie', new_movie_path, :class => 'btn btn-default' %>
  </div>
</div>