<div class="col-md-2"></div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Creating Tickets</h3>
    </div>
    <h4>Tickets already bought:<h4>

    <table class="table table-bordered">
      <thead>
        <tr>
        <th>Seats</th>
          <% (1..12).each do |column| %>
            <th><%= column %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>

        <% @seats.keys.each do |row|%>
          <tr id=<%="row-#{row}"%>>
            <td><%= row %></td>
            <% (1..12).each do |column| %>
              <% if @seats[row].include? column.to_s %>
                <td class="bg-danger" id=<%="seat-#{row}-#{column}"%>>X </td>
              <% else %>
                <td class="bg-success" id=<%="seat-#{row}-#{column}"%>></td>
              <% end %>
              
            <% end %>
          </tr>
        <%end%>
      </tbody>
    </table>
    <div class="panel-body">
      <%= render 'form', ticket: @ticket %>
    </div>
  </div>
</div>
